
<div class="paginationWrapper">
    <div class="paginationButton"><button *ngIf="prevPage" (click)="buscarPersonajes(prevPage)">< {{ prevPage }}</button></div>
    <div class="paginationLabel">Página {{ currentPage }}</div>
    <div class="paginationButton"><button *ngIf="nextPage" (click)="buscarPersonajes(nextPage)">{{ nextPage }} ></button></div>
</div>

<div class="cardWrapper">
    <div routerLink="personajes/{{ item.id }}" class="card" *ngFor="let item of personajes">
        <img src="{{ item.image }}"/>

        <div class="cardText">
            <p>Nombre: {{ item.name }}</p>
            <p>Especie: {{ item.species }}</p>
            <p>Sexo: {{ item.gender }}</p>
        </div>
    </div>
</div>