.wrapper{
    display: flex;
    height: 900px;
    min-height: 600px;
    max-height: 100%;
}

.sidebar{
    background-color: #1A2A7E;
    width: 300px;    
}

.container{
    background-color: azure;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    align-content: flex-start;
}

.card{
    height: 200px;
    width: 300px;
    min-width: 300px;
    background-color: antiquewhite;
    margin: 5px;
    display: flex;
    border-radius: 3%;
    border: 1px solid #121F61;
}

