.wrapper{
    display: flex;
    height: 900px;
    min-height: 600px;
    max-height: 100%;
}

.sidebar{
    background-color: #1A2A7E;
    width: 300px;    
}

.container{
    margin-left: 20px;
    width: calc(100% - 300px);
}

